.one-flex-column {
  width: 80%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px
}

.article-title {
  margin-block-end: 6px;
}

.author {
 margin: 0;
 font-size: smaller;
}

.breadcrumb {
  font-size: smaller;
}

.header-section {
  padding-block-start: 30px;
}

pre {
  background-color: var(--txt-color);
  color: aliceblue;
  padding: 20px;
  border-radius: 15px;
}

code {
  background-color: var(--txt-color);
  color: aliceblue;
}

.inline-code {
  padding: 4px;
}
