:root {
  --bg-color: rgb(240, 240, 233);
  --txt-color: #00425A;
  --light-highlight-color: #d4f3e7;
  --bold-highlight-color: #FC7300;
  --banner-padding: 60px;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--txt-color);
  padding: 0 0 40px 0;
  margin: 0;
}

section {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

section > :first-child {
  flex-basis: 300px;
  flex-grow: 1;
}

section > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

.profile-pic {
  height: 100%;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--bold-highlight-color);
  margin-block-start: 0;
  margin-block-end: 30px;
  font-family: 'PT Serif', serif;
}

h3 {
  margin-block-start: 30px;
}

p {
  margin-block-end: 0;
  line-height: 175%;
}

.header {
  width: 80%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.header:first-child {
  flex-grow: 1;
}

.header > p {
  font-size: 16px;;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--txt-color);
}

/* UTILITY CLASSES */
.border-tb {
  border-block-start: 1px solid var(--txt-color);
  border-block-end: 1px solid var(--txt-color);
  padding-block-start: 30px;
  padding-block-end: 30px;
}

.border-b {
  border-block-end: 1px solid var(--txt-color);
  padding-block-start: 30px;
  padding-block-end: 30px;
}

.mt-block {
  margin-trim: block;
}
/* end utility classes */
